body {
  padding-right: 3%;
  padding-left: 1%;
  font-family: 'Times New Roman', Times, serif;
  background-color: rgb(191, 223, 223)
}
h1 {
  padding-top: 3%;
  text-align: center;
  padding-left: 10%;
  font-size: 40px;
  width: 1200px;
}
.navtop {
  text-align: right;
  padding-right: 3%;
  font-size: 20px;
}
div.images {
  text-align: right;
  padding-top: 1%;
  padding-left:15%;
  width: 1200px;
}
#results {
  text-align: center;
  font-size: 20px;
  padding-top: 2.5%;
  position: absolute;
  padding-left: 32%
}
#reset-button {
  padding-left: 24%;
  text-align: center;
  padding-top:2%;
  font-size: 20px;
  border-radius: 8px;
}
#chart-div {
  position: absolute;
  padding-top: 1%;
  width: 500px;
  height: 1200px;
  opacity: 0.90;
}
#results-head {
  position: absolute;
  padding-left: 8%;
  color: rgb(238, 70, 70);
  font-size: 30px;
  text-align: absolute;
}
footer {
  padding-top: 20%;
}
#lorem {
  float: right;
  padding-top: 5%;
  width: 900px; 
  font-size: 20px;
}
